<html ng-app="StockDataApp">

<head>
    <title>EStockData</title>
    <link rel="shortcut icon" type="image/x-icon" href="assests/1477521928_10_icon-icons.com_74620.png" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        
    <script src="/app/canvas/canvasjs.min.js"></script>
    <!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("glickid");
       })();
    </script>

    <script src="app/app.js"></script>
    <script src="app/homeCtrl.js"></script>
    <script src="app/user/userCtrl.js"></script>
    <script src="app/user/userSrv.js"></script>
    <script src="app/configuration/configSrv.js"></script>
    <script src="app/data/dataSrv.js"></script>
    <script src="app/objLimitTo.js"></script>
    <script src="app/navbarCtrl.js"></script>
    <script src="app/portfolio/portfolioCtrl.js"></script>
    <script src="app/portfolio/portfolioSrv.js"></script>
    <script src="app/Alerts/alertsSrv.js"></script>
    <script src="app/data/chartsCtrl.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav ng-controller="navbarCtrl" class="navbar navbar-expand-md bg-success navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#!/">
            <img src="assests/1477521928_10_icon-icons.com_74620.png" alt="" width="50px"> EStockData
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="#!/portfolio">Virtual Portfolio</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="#!/">Crypto Currrencies</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item position-relative">
                    <i class="fas fa-bell alert-icon" ng-class="(alertNum>0)?'text-danger':''"></i>
                    <span class="badge" ng-hide="(alertNum === 0)">{{alertNum}}</span> 
                </li>
                <li class="nav-item" ng-hide="isUserLoggedIn()">
                    <a class="nav-link" href="#!/signup">Sign Up</a>
                </li>
                <li class="nav-item" ng-hide="isUserLoggedIn()">
                    <!-- <a class="nav-link" ng-href="#!/login">Login</a> -->
                    <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#SignInModal">Login</a>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <a class="nav-link" href="javascript:void(0)" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="the-container">
        <!-- </div> class="container"> -->
        <ng-view></ng-view>
    </div>

    <footer class="fixed-bottom bg-dark text-white text-center pt-2 pb-2">EStockData by
        <span class="text-primary">Yossi Glick</span>
    </footer>

    <!-- Modal -->
    <div ng-controller="userCtrl" class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <!-- <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div> -->
                        <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
                    </form>
                    <div id="login-error" class="alert alert-danger" role="alert" ng-hide='errorMessage===""'>{{errorMessage}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="resetModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>