* {
    margin : 0;
    box-sizing:  border-box;
}

#the-nav-bar {
    background-color: rgb(246, 174, 144);
}

#the-container {
    background-color: rgb(68,114,196)
}

#QDays {
    width: 50px;
    height: 20px;
}

#main-icon {
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    #register-btn {
        position: relative;
        bottom: 25px;
    }

    #main-icon {
        margin-bottom: 5px;
    }
}