<div class="container portfolio-container pt-1">
    <form class="search-box my-2">
        <input type="text" class="bg-info text-dark form-control" placeholder="Search Stock" ng-model="input" ng-change="searchStock(input)">
        <div class="search-results list-group">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action" 
            ng-repeat="(key, value) in stockList" ng-click="addStockToPortfolio(key, value)">{{key}} (Symbol: {{value}})</a>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Stock Name</th>
                    <th>Symbol</th>
                    <th>Today's Change</th>
                    <th>Overall Profit/Loss</th>
                    <th>Purchase Price</th>
                    <th>Current Price</th>
                    <th>Today's Volume</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stock in stockArr">
                    <td>{{stock.Name}}</td>
                    <td>{{stock.Symbol}}</td>
                    <td>{{stock.dayChange}}</td>
                    <td>{{stock.overallProfit}}</td>
                    <td>{{stock.purchasePrice}}</td>
                    <td>{{stock.currentPrice}}</td>
                    <td>{{stock.dayVolume}}</td>
                    <td><button type="button" class="btn btn-danger" ng-click="removeStock(stock)">DELETE</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="empty-portfolio text-center mt-5 bg-success" ng-show="stockArr.length===0">
        <p class="mb-0">Use the search-box to look for your desired stock (from S&P500)</p>
        <p class="mb-0">On opend list - click to add to portfolio </p>
    </div>
</div>