<div class="container portfolio-container pt-1">
    <form class="search-box my-2">
        <input type="text" class="bg-info text-dark form-control" placeholder="Search Stock" ng-model="input" ng-change="searchStock(input)">
        <div class="search-results list-group">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action" ng-repeat="(key, value) in stockList" ng-click="addStockToPortfolio(key, value)">{{key}} (Symbol: {{value}})</a>
        </div>
    </form>

    <!-- <label ng-bind="formatDate(date) |  date:'yyyy-MM-dd'"></label> -->

    <!-- <div class="table-responsive"> -->
    <div class="portfolio-table">
        <table class="table table-striped table-responsive">
            <thead class="thead-portfolio">
                <!--class="bg-secondary text-body"-->
                <tr>
                    <th>Stock Name</th>
                    <th>Symbol</th>
                    <th>Todays Change</th>
                    <th>Yield</th>
                    <th>Purchase Price</th>
                    <th>Purchase Date</th>
                    <th>Current Price</th>
                    <th>Today's Volume</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stock in stockArr">
                    <td>{{stock.Name}}</td>
                    <td>{{stock.Symbol}}</td>
                    <td>
                        <span ng-class="(stock.dayChange<0)? 'text-danger':'text-success'">{{stock.dayChange}}%</span>
                    </td>
                    <td>
                        <span ng-class="(stock.overallProfit<0)? 'text-danger':'text-success'">{{stock.overallProfit}}%</span>
                    </td>
                    <td>{{stock.purchasePrice}}</td>
                    <td>{{stock.purchaseDate}}</td>
                    <td>{{stock.currentPrice}}</td>
                    <td>{{stock.dayVolume}}</td>
                    <td id="actions-td">
                        <button type="button" class="btn btn-danger" ng-click="removeStock(stock)">
                            <i class="far fa-trash-alt action-icon"></i>
                        </button>
                        <button type="button" class="btn btn-success" ng-click="refreshStock(stock)">
                            <i class="fas fa-sync-alt action-icon"></i>
                        </button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#stockInfoModal" ng-click="getStockInfo(stock)">
                            <i class="fas fa-info action-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="empty-portfolio text-center mt-5 bg-success" ng-show="stockArr.length===0">
        <p class="mb-0">Use the search-box to look for your desired stock (from S&P500)</p>
        <p class="mb-0">On opend list - click to add to portfolio </p>
    </div>

    <!-- Modal -->
    <!-- <div ng-controller="userCtrl" class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" -->
    <div class="modal fade" id="stockInfoModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-info">
                <div class="modal-header">
                        <h5 class="form-signin-heading">{{stockInfo.Name}} (symbol:{{stockInfo.Symbol}})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetModal()">
                        <span aria-hidden="true">&times;</span>
                        
                    </button>
                </div>
                <div class="modal-body text-warning">
                    
                    <p><small class="stock-info-item">Market Cap. : {{stockInfo.marketcap | number}}</small></p>
                    <p><small class="stock-info-item">Beta : {{stockInfo.beta | number:2}}</small></p>
                    <p><small class="stock-info-item">High 52 Weeks : {{stockInfo.week52high | number:2}}</small></p>
                    <p><small class="stock-info-item">Low 52 Weeks : {{stockInfo.week52low | number:2}}</small></p>
                    <p><small class="stock-info-item">Change 52 Weeks : {{stockInfo.week52change  | number:2}}%</small></p>
                    <p><small class="stock-info-item">Short Interest : {{stockInfo.shortInterest | number}}</small></p>
                    <p><small class="stock-info-item">Short Date : {{stockInfo.shortDate}}</small></p>
                    <p><small class="stock-info-item">Dividend Rate : {{stockInfo.dividendRate}}</small></p>
                    <p><small class="stock-info-item">Dividend Yield : {{stockInfo.dividendYield}}</small></p>
                    <p><small class="stock-info-item">X dividend Date : {{stockInfo.exDividendDate}}</small></p>
                    <p><small class="stock-info-item">Latest EPS : {{stockInfo.latestEPS}}</small></p>
                    <p><small class="stock-info-item">Latest EPS date : {{stockInfo.latestEPSDate}}</small></p>
                    <p><small class="stock-info-item">Shares Outstanding : {{stockInfo.sharesOutstanding | number}}</small></p>
                    <p><small class="stock-info-item">Float : {{stockInfo.float | number}}</small></p>
                    <p><small class="stock-info-item">Return on Equity : {{stockInfo.returnOnEquity}}</small></p>
                    <p><small class="stock-info-item">Consensus EPS : {{stockInfo.consensusEPS}}</small></p>
                    <p><small class="stock-info-item">Estimates : {{stockInfo.numberOfEstimates}}</small></p>
                    <p><small class="stock-info-item">EPS Surprise $ : {{stockInfo.EPSSurpriseDollar | number}}</small></p>
                    <p><small class="stock-info-item">EPS Surprise % : {{stockInfo.EPSSurprisePercent  | number:2}}%</small></p>
                    <p><small class="stock-info-item">EBITDA : {{stockInfo.EBITDA | number}}</small></p>
                    <p><small class="stock-info-item">Revenue : {{stockInfo.revenue | number}}</small></p>
                    <p><small class="stock-info-item">Gross Profit : {{stockInfo.grossProfit | number}}</small></p>
                    <p><small class="stock-info-item">Cash : {{stockInfo.cash | number}}</small></p>
                    <p><small class="stock-info-item">Debt : {{stockInfo.debt | number}}</small></p>
                    <p><small class="stock-info-item">ttm EPS : {{stockInfo.ttmEPS}}</small></p>
                    <p><small class="stock-info-item">Revenue per Share : {{stockInfo.revenuePerShare}}</small></p>
                    <p><small class="stock-info-item">Revenue per Emp. : {{stockInfo.revenuePerEmployee | number}}</small></p>
                    <p><small class="stock-info-item">pe Ratio High : {{stockInfo.peRatioHigh}}</small></p>
                    <p><small class="stock-info-item">pe Ratio Low : {{stockInfo.peRatioLow}}</small></p>
                    <p><small class="stock-info-item">Return on Assets : {{stockInfo.returnOnAssets}}</small></p>
                    <p><small class="stock-info-item">Return on Capital : {{stockInfo.returnOnCapital}}</small></p>
                    <p><small class="stock-info-item">Profit Margin : {{stockInfo.profitMargin}}</small></p>
                    <p><small class="stock-info-item">Price to Sales : {{stockInfo.priceToSales  | number:2}}</small></p>
                    <p><small class="stock-info-item">Price to Book : {{stockInfo.priceToBook}}</small></p>
                    <p><small class="stock-info-item">200 days Moving Avg. : {{stockInfo.day200MovingAvg | number:2}}</small></p>
                    <p><small class="stock-info-item">50 days Moving Avg. : {{stockInfo.day50MovingAvg | number:2}}</small></p>
                    <p><small class="stock-info-item">Institution : {{stockInfo.institutionPercent}}%</small></p>
                    <p><small class="stock-info-item">Insider  : {{stockInfo.insiderPercent}}%</small></p>
                    <p><small class="stock-info-item">Short Ratio : {{stockInfo.shortRatio | number:2}}</small></p>
                    <p><small class="stock-info-item">5 years Change : {{stockInfo.year5ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">2 years Change : {{stockInfo.year2ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">1 years Change : {{stockInfo.year1ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">YTD Change : {{stockInfo.ytdChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">6 mon. Change : {{stockInfo.month6ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">3 mon. Change : {{stockInfo.month3ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">1 mon. Change : {{stockInfo.month1ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">5 days Change : {{stockInfo.day5ChangePercent | number:2}}%</small></p>
                    <p><small class="stock-info-item">30 days Change : {{stockInfo.day30ChangePercent | number:2}}%</small></p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="resetModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>